<nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active current">
            <a routerLink="/posts">Posts</a></li>
          <li routerLinkActive="active current">
            <a routerLink="/followers">Followers</a></li>
         
        </ul>
        
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
